<br>
<%=form_for :post,url: post_path(@post),method: :patch do |k|%>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%=k.label :title%><br>
    <%=k.text_field(:title,{:class=>'form-control mr-sm-2'})%>
  </p>
  <p>
    <%=k.label :body%>:<br>
    <%=k.text_area(:body,{:class=>'form-control mr-sm-2'})%>
  </p>
  <p>
    <%=k.submit('edit note', {:class=>'btn btn-outline-info'})%>
  </p>
<%end%>
