<!DOCTYPE html>
<html>
  <head>
    <title>notes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to "notes", home_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
        <ul class="navbar-nav navbar-right">
          <li class="<%= 'nav-item active' if current_page?(new_post_path) %>"><%= link_to "create note", new_post_path, class: 'nav-link' %></li>

            <% if user_signed_in? %>
              <li class="<%= 'nav-item active' if current_page?(edit_user_registration_path) %>"><%= link_to current_user.email, edit_user_registration_path, class: 'nav-link' %></li>
              <%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'nav-link' %>
            <% else %>
              <%= link_to 'sign up', new_user_registration_path, :class => 'nav-link' %>
              <%= link_to 'login', new_user_session_path, :class => 'nav-link' %>
            <% end %>

        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <% if notice %>
        <br>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <br>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
